@{
    ViewBag.Title = "AngularMvcApp Page";
}

<!-- AngularApp.cshtml -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/app/" />
    <link rel="stylesheet" href="~/app/browser/styles.css">
</head>
<body>
    <h1>@ViewData["Title"]</h1>
    <app-my-component></app-my-component>

</body>
</html>