@{
    ViewData["Title"] = "SimpleComponent";
}

<h1>@ViewData["Title"]</h1>

<div id="simple-component">
    <app-simple-component></app-simple-component>

</div>

@section Scripts {
    <script type="module" src="~/js/simple-components.js"></script>
}